/* My Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: aliceblue;
}

/* Navbar Section */
nav {
    height: 3rem;
    width: 100vw;
    background-color: black;
}

.logo {
    display: inline-block;
}

.logo img {
    height: 44px;
    width: 44px;
    margin: 0 4px 0 10px;
}

.logo span{
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;

    display: inline-block;
    cursor: default;
    transform: translateY(calc(-0.5rem - 0.30rem - 0.125rem));
}

.nav-links {
    padding-top: 14px;
    margin-right: 10px;
    list-style: none;
    float: right;
}

.nav-links li {
    display: inline-block;
    margin: 0 1rem;
} 

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links li a.active, .nav-links li a:hover {
    color: #1ed760;
}

/* Content Section */
.content {
    min-height: 75vh;
    width: 75vw;
    margin: 2rem auto;

    background-color: black;
    border-radius: 32px;

    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;

    position: relative;
}



.content-header {
    position: relative;
    top: 10px;
    height: fit-content;
    margin: 0rem 0 5rem 3rem;
    color: #fff;
}

.song {
    height: fit-content;
    width: 30%;
    left: 30px;
    margin-bottom: 5px;

    position: relative;
    display: flex;
    flex-direction: row;
    
    background-color: #fff;
    border-radius: 30px;
}

.song:hover {
    box-shadow: 1px 1px #fff;
    cursor: pointer;
}

.song img {
    height: 24px;
    width: 24px;
    left: 10px;

    position: relative;
    border-radius: 30px;
    margin: 2px 0;
}

.song-name {
    margin: auto auto;
}

.song-time {
    margin: auto 1rem auto auto;
}

.song-play {
    margin: auto 1rem auto 0.25rem;
}

/* Player Section */
.player {
    height: 4rem;
    width: 100vw;
    background-color: black;
    color: #fff;

    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.curr-song-display {
    position: absolute;
    left: 0;
    height: 4rem;
    width: 25%;
}

.song-container {
    position: relative;
    width: 25%;
}

.song-container img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 0;

    position: absolute;
    display: block;
}

.song-container-txt {
    position: relative;
    width: 8rem;
    left: 60px;
    top: 10px;
}

.writer-name {
    font-size: x-small;
}

.likes {
    float: right;
    margin-right: 1rem;
}

#ProgressBar {
    width: 50vw;
    margin: 2px auto 5px auto;
}

.player-container button {
    margin: 0 10px;
    background-color: black;
    cursor: pointer;
    border: none;
}

.player-btn-all {
    display: flex;
    justify-content: center;
}

.player-btn {
    font-size: 30px;
    border: none;
    color: #fff;
    padding: 0 10px;
}


@media (max-width: 1005px) {
    .content {
        background-size: calc(80vh);
        background-position: bottom;
    }

    .content-header {
        top: 10px;
        margin: 0 0 10px 15px;

        color: #fff;
        font-size: xx-small;

        position: relative;
        margin-bottom: 40px;
    }

    .song {
        height: 30px;
        width: 200px;
        left: 30px;
        margin-bottom: 5px;
    
        position: relative;
        display: flex;
        flex-direction: row;
        
        background-color: #fff;
        border-radius: 30px;
    }

    .curr-song-display {
        display: none;
    }

    .song-name, .song-time {
        font-size: x-small;
    }

    .song-name {
        margin: auto auto;
        font-weight: 600;
    }

    .song-play {
        font-size: xx-small;
    }
    
    #ProgressBar {
        width: 50vw;
        margin: 2px 0 5px 0;
    }
    
    .player button {
        margin: 0 10px;
        background-color: black;
        cursor: pointer;
    }
    
    .player-btn {
        font-size: 20px;
        border: none;
        color: #fff;
        padding: 0 10px;
    }

}